{% extends 'base.html' %}
{% block body %}

 <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                            {% for i in requests %}
                           <form method="POST" action="{% url 'manage_guest_request' i.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                               
                                 {% include 'includes/messages.html' %}
                                 
                                 <div class="col-12">
                                    <h5 class="form-title"><span>visitor Information</span></h5>
                                 </div>
                                 <div class="row">
                                    <div class="col-6">
                                       
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Guest Name</label>
                                               <input type="text" class="form-control" value="{{i.guest_name}}"  name="guest_name" disabled>
                                            </div>
                                         </div>
                                        
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Email</label>
                                               <input type="text" class="form-control"value="{{i.email}}"  name="email" >
                                            </div>
                                         </div>
                                    
                                    </div>
                                    <div class="col-6">
                                       
                                      
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>phone:</label>
                                               <input type="tel" class="form-control" value="{{i.phone}}"  name="phone" >
                                            </div>
                                         </div> 
                                             
                                     
                                        <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Identification card </label>
                                               <img src="/{{i.identification_card}}" alt="Identification Card Image" class="img-fluid" style="height: 3cm; width: 5cm;">
                                             </div>
                                         </div>
                                    </div>
                                 </div>

                                   <div class="col-12">
                                    <h5 class="form-title"><span>Visit Details</span></h5>
                                 </div>
                                 <div class="row">
                                    <div class="col-6">
                                       
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Visit Date</label>
                                               <input type="text" class="form-control" value="{{i.date_of_visit}}" name="date_of_visit" disabled>
                                            </div>
                                         </div>
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label> Purpose of Visit </label>
                                               <input type="text" class="form-control"  value="{{i.purpose_of_visit}}" name="purpose_of_visit" disabled>
                                            </div>
                                         </div>
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Arrival time</label>
                                               <input type="datetime-local" class="form-control" value="{{i.arrival_time}}" name="arrival_time" required >
                                            </div>
                                         </div>
                                    
                                    </div>
                                    <div class="col-6">
                                       
                                        <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Department</label>
                                               <input class="form-control" value="{{i.visit_department}}" name="department" disabled/>
                                                  
                                            </div>
                                         </div>
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Responsible Person</label>
                                               <input class="form-control" value="{{i.responsible_person}}" name="responsible_person" disabled>
                                                  
                                       
                                            </div>
                                         </div>
                                         <div class="col-sm-11">
                                            <div class="form-group">
                                               <label>Departure time</label>
                                               <input type="datetime-local" class="form-control" value="{{i.departure_time}}" name="departure_time" required>
                                            </div>
                                         </div>
                                       
                                        
                                    </div>
                                 </div>  
                                 <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group">
                                           <label>Feedback</label>
                                           <textarea class="form-control" value="{{i.feedback}}" name="feedback">

                                           </textarea>
                                           
                                        </div>
                                     </div>
                                 </div>
                                
                                 <div class="row">
                                    <div class="col-6 ">
                                        <center><button type="submit" name="approve" class="btn btn-success">Approve and Send Email to Guest</button></center>  
                                       </div>
                                       <div class="col-6 ">
                                        <center><button type="submit" name="disapprove" class="btn btn-primary">Disapprove</button></center>  
                                       </div>
                              
                                 </div>
            
                           </form>

                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>

{% endblock %}